@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #3C3D37;
  --foreground: #ededed;
  --artotel: #eb1f5d;
  --artdark: #071434;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3C3D37;
    --foreground: #ededed;
    --artotel: #eb1f5d;
    --artdark: #071434;
  }
}

body {
  color: var(--background);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* animation */
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.zoom-animation {
  animation: zoom 1.5s infinite;
}

.countdown-text {
  /* animation: fade 2s infinite; */
  text-shadow: 
    1px 2px 2px rgba(0, 0, 0, .5);
}

.engraved {
  background-color: #000000;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(245,245,245,0.4) 1px 1px 1px;
}